<app-categories></app-categories>
<br>
<app-publications></app-publications>
<br>
<h4 class="dispaly-4">Ajouter Categorie</h4>
<br>
<form #form="" autocomplete="off" >
    <input type="hidden"  name="CategorieID" >
  
    <div class="form-group col-md-4">
      <label>Titre</label>
      <input name="titre" class="form-control">
    </div>
    <br>  
  <div class="form-group">
    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>  
  </div>
</form>
<br>
<h4 class="dispaly-4">Ajouter Publication</h4>
<br>
<form #form="" autocomplete="off" >
    <input type="hidden"  name="PublicationID" >
    <input type="hidden"  name="CategorieID" >
  
    <div class="form-group col-md-4">
      <label>Titre</label>
      <input name="titre" class="form-control">
    </div>
    <br> 
    <div class="form-group col-md-4">
        <label>Date de publication</label>
        <input name="datePublication" class="form-control">
    </div> 
    <div class="form-groupcol-md-4">
        <label for="description">Contenu</label>
        <br> 
        <textarea id="contenu" type="text" formControlName="description" rows="8" cols="48">
        </textarea>
    </div>
  <div class="form-group">
    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>  
  </div>